@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONT */
.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* COLORS */
.cBackground {
  background-color: #202021 !important;
}
.bg-p {
  background-color: #0081AF !important;
}
.bg-s {
  background-color: #5ED4FF !important;
}
.bg-a {
  background-color: #00BB99 !important;
}
.primary {
  color: #0081AF !important;
}
.secondary {
  color: #5ED4FF !important;
}
.accent {
  color: #00BB99 !important;
}
.fill-p:hover {
  fill: #0081AF !important;
}
.fill-s:hover {
  fill: #5ED4FF !important;
}
.fill-a:hover {
  fill: #00BB99 !important;
}
/* COLORS */
.fade-in {
  animation: fadeIn 1s ease-in forwards;
}

.fade-out {
  animation: fadeOut 1s ease-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
